# Working With Country Population Data From The CIA World Factbook Database

This project uses SQlite aggregate functions and subqueries to extract data based on questions regarding the following country attributes;

* Population
* Population Growth
* Land area
* Water area
* Birth rate
* Death Rate

## Load The Database And Return Table Information

In [3]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

'Connected: None@factbook.db'

In [5]:
%%sql
SELECT *
  FROM sqlite_master
 WHERE type='table';

Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

## Show The Top 5 Rows

In [9]:
%%sql
SELECT *
  FROM facts
 LIMIT 5;

Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

## Find The Minimum And Maximum Values For Population And Population Growth

In [8]:
%%sql
SELECT MIN(population), MAX(population), 
MIN(population_growth), MAX(population_growth)
  FROM facts;

Done.

[(0, 7256490011, 0.0, 4.02)]

## Find The Countries With The Lowest And Highest Population

In [6]:
%%sql
SELECT name, MIN(population)
FROM facts;

Done.

[('Antarctica', 0)]

In [7]:
%%sql
SELECT name, MAX(population)
  FROM facts;

Done.

[('World', 7256490011)]

## Exclude 'World' From The Search

In [11]:
%%sql
SELECT MIN(population), MAX(population), 
MIN(population_growth), MAX(population_growth)
  FROM facts
WHERE name != 'World';

Done.

[(0, 1367485388, 0.0, 4.02)]

In [18]:
%%sql
SELECT name, MAX(population)
FROM facts
WHERE name <> 'World';

Done.

[('China', 1367485388)]

## Find Average Population And Average Area

In [12]:
%%sql
SELECT AVG(population), AVG(area)
FROM facts;

Done.

[(62094928.32231405, 555093.546184739)]

## Find Countries Where Population Is Higher Than The Average And Area Is Less Than The Average

In [13]:
%%sql
SELECT name, population, area
FROM facts
WHERE population > (SELECT AVG(population)
                    FROM facts)
AND area < (SELECT AVG(area)
            FROM facts);

Done.

[('Bangladesh', 168957745, 148460),
 ('Germany', 80854408, 357022),
 ('Japan', 126919659, 377915),
 ('Philippines', 100998376, 300000),
 ('Thailand', 67976405, 513120),
 ('United Kingdom', 64088222, 243610),
 ('Vietnam', 94348835, 331210)]

## Find The Maximum Population Growth

In [17]:
%%sql
SELECT name, MAX(population_growth)
FROM facts;

Done.

[('South Sudan', 4.02)]

## Find The Countries With The Largest Water Area

In [21]:
%%sql
SELECT name, ROUND(CAST(area_water AS Float) / CAST(area_land AS Float), 6) AS ratio_water_to_land
FROM facts
ORDER BY ratio_water_to_land DESC;

Done.

[('British Indian Ocean Territory', 905.666667),
 ('Virgin Islands', 4.520231),
 ('Puerto Rico', 0.554791),
 ('Bahamas, The', 0.386613),
 ('Guinea-Bissau', 0.284673),
 ('Malawi', 0.259396),
 ('Netherlands', 0.22571),
 ('Uganda', 0.222922),
 ('Eritrea', 0.164356),
 ('Liberia', 0.15624),
 ('Bangladesh', 0.140509),
 ('Gambia, The', 0.116601),
 ('Taiwan', 0.115313),
 ('Finland', 0.112996),
 ('India', 0.105634),
 ('Canada', 0.098),
 ('Sweden', 0.097384),
 ('Colombia', 0.096476),
 ('Brunei', 0.094967),
 ('Guyana', 0.09205),
 ('French Polynesia', 0.088842),
 ('Nicaragua', 0.086507),
 ('Burundi', 0.083723),
 ('Iran', 0.07613),
 ('United States', 0.072551),
 ('Tanzania', 0.069429),
 ('Vietnam', 0.068178),
 ('Rwanda', 0.067699),
 ('Estonia', 0.067),
 ('Norway', 0.064151),
 ('Armenia', 0.054604),
 ('Tunisia', 0.053102),
 ('Uzbekistan', 0.051716),
 ('Indonesia', 0.051337),
 ('Suriname', 0.050128),
 ('Albania', 0.049274),
 ('Ghana', 0.048345),
 ('Azerbaijan', 0.048058),
 ('Togo', 0.04413),
 ('Russia', 0.043993),
 ('Kyrgyzstan', 0.042492),
 ('Tonga', 0.041841),
 ('Ukraine', 0.041807),
 ('Lithuania', 0.0418),
 ('West Bank', 0.039007),
 ('Gabon', 0.03881),
 ('Turkmenistan', 0.038665),
 ('Hungary', 0.038166),
 ('Latvia', 0.037591),
 ('Romania', 0.036974),
 ('Japan', 0.036847),
 ('Burma', 0.035302),
 ('Congo, Democratic Republic of the', 0.034322),
 ('Venezuela', 0.034012),
 ('Pakistan', 0.032716),
 ('Hong Kong', 0.032619),
 ('Solomon Islands', 0.032516),
 ('Switzerland', 0.032002),
 ('Moldova', 0.029187),
 ('China', 0.029009),
 ('Korea, South', 0.02889),
 ('Poland', 0.027707),
 ('Iceland', 0.027431),
 ('Montenegro', 0.026762),
 ('Nepal', 0.026718),
 ('Botswana', 0.026468),
 ('Laos', 0.025997),
 ('Cambodia', 0.025607),
 ('Italy', 0.024478),
 ('Ecuador', 0.024274),
 ('Germany', 0.023948),
 ('Paraguay', 0.023785),
 ('Belarus', 0.023164),
 ('Papua New Guinea', 0.022038),
 ('Bulgaria', 0.02203),
 ('Senegal', 0.021773),
 ('Israel', 0.021643),
 ('Czech Republic', 0.020972),
 ('Ireland', 0.020179),
 ('Kenya', 0.019726),
 ('Chad', 0.019695),
 ('Slovakia', 0.019333),
 ('Brazil', 0.018859),
 ('Tajikistan', 0.018303),
 ('Turkey', 0.0181),
 ('Benin', 0.01808),
 ('Austria', 0.017296),
 ('Lebanon', 0.016618),
 ('Mozambique', 0.016531),
 ('Chile', 0.016523),
 ('Saint Lucia', 0.016502),
 ('Somalia', 0.01645),
 ('New Caledonia', 0.016416),
 ('Mali', 0.016393),
 ('Guatemala', 0.016144),
 ('Argentina', 0.015972),
 ('Denmark', 0.015554),
 ('El Salvador', 0.015443),
 ('Sri Lanka', 0.015163),
 ('Jamaica', 0.014772),
 ('Singapore', 0.014556),
 ('Panama', 0.014528),
 ('Nigeria', 0.014274),
 ('Bolivia', 0.014105),
 ("Cote d'Ivoire", 0.014025),
 ('Spain', 0.012806),
 ('Zambia', 0.012403),
 ('Croatia', 0.011077),
 ('Macedonia', 0.011009),
 ('Mexico', 0.01051),
 ('Zimbabwe', 0.010107),
 ('Greece', 0.010027),
 ('Cuba', 0.00947),
 ('Madagascar', 0.009459),
 ('Kazakhstan', 0.009334),
 ('Swaziland', 0.0093),
 ('Syria', 0.008441),
 ('Belgium', 0.008257),
 ('Australia', 0.00767),
 ('Dominican Republic', 0.007243),
 ('Belize', 0.007016),
 ('United Kingdom', 0.006944),
 ('Haiti', 0.006894),
 ('Uruguay', 0.006857),
 ('Mongolia', 0.006797),
 ('Portugal', 0.006778),
 ('Philippines', 0.006137),
 ('Jordan', 0.006081),
 ('Slovenia', 0.006054),
 ('Egypt', 0.006027),
 ('Cameroon', 0.005775),
 ('France', 0.005268),
 ('Mauritius', 0.004926),
 ('Thailand', 0.004365),
 ('Peru', 0.004078),
 ('South Africa', 0.003804),
 ('Malaysia', 0.003621),
 ('Samoa', 0.003545),
 ('Iraq', 0.002172),
 ('Honduras', 0.001787),
 ('Sierra Leone', 0.001676),
 ('Congo, Republic of the', 0.001464),
 ('Burkina Faso', 0.001461),
 ('Namibia', 0.001217),
 ('Cyprus', 0.001082),
 ('Korea, North', 0.00108),
 ('Djibouti', 0.000863),
 ('Costa Rica', 0.000783),
 ('Guinea', 0.00057),
 ('Morocco', 0.00056),
 ('Niger', 0.000237),
 ('Bosnia and Herzegovina', 0.000195),
 ('Afghanistan', 0.0),
 ('Algeria', 0.0),
 ('Andorra', 0.0),
 ('Angola', 0.0),
 ('Antigua and Barbuda', 0.0),
 ('Bahrain', 0.0),
 ('Barbados', 0.0),
 ('Bhutan', 0.0),
 ('Cabo Verde', 0.0),
 ('Central African Republic', 0.0),
 ('Comoros', 0.0),
 ('Dominica', 0.0),
 ('Equatorial Guinea', 0.0),
 ('Fiji', 0.0),
 ('Georgia', 0.0),
 ('Grenada', 0.0),
 ('Kiribati', 0.0),
 ('Kosovo', 0.0),
 ('Kuwait', 0.0),
 ('Lesotho', 0.0),
 ('Libya', 0.0),
 ('Liechtenstein', 0.0),
 ('Luxembourg', 0.0),
 ('Maldives', 0.0),
 ('Malta', 0.0),
 ('Marshall Islands', 0.0),
 ('Mauritania', 0.0),
 ('Micronesia, Federated States of', 0.0),
 ('Monaco', 0.0),
 ('Nauru', 0.0),
 ('Oman', 0.0),
 ('Palau', 0.0),
 ('Qatar', 0.0),
 ('Saint Kitts and Nevis', 0.0),
 ('Saint Vincent and the Grenadines', 0.0),
 ('San Marino', 0.0),
 ('Sao Tome and Principe', 0.0),
 ('Saudi Arabia', 0.0),
 ('Serbia', 0.0),
 ('Seychelles', 0.0),
 ('Timor-Leste', 0.0),
 ('Trinidad and Tobago', 0.0),
 ('Tuvalu', 0.0),
 ('United Arab Emirates', 0.0),
 ('Vanuatu', 0.0),
 ('Yemen', 0.0),
 ('Ashmore and Cartier Islands', 0.0),
 ('Christmas Island', 0.0),
 ('Cocos (Keeling) Islands', 0.0),
 ('Coral Sea Islands', 0.0),
 ('Heard Island and McDonald Islands', 0.0),
 ('Norfolk Island', 0.0),
 ('Macau', 0.0),
 ('Faroe Islands', 0.0),
 ('Clipperton Island', 0.0),
 ('Saint Pierre and Miquelon', 0.0),
 ('Wallis and Futuna', 0.0),
 ('Aruba', 0.0),
 ('Curacao', 0.0),
 ('Sint Maarten', 0.0),
 ('Cook Islands', 0.0),
 ('Niue', 0.0),
 ('Tokelau', 0.0),
 ('Bouvet Island', 0.0),
 ('Jan Mayen', 0.0),
 ('Svalbard', 0.0),
 ('Anguilla', 0.0),
 ('Bermuda', 0.0),
 ('British Virgin Islands', 0.0),
 ('Cayman Islands', 0.0),
 ('Falkland Islands (Islas Malvinas)', 0.0),
 ('Gibraltar', 0.0),
 ('Guernsey', 0.0),
 ('Jersey', 0.0),
 ('Isle of Man', 0.0),
 ('Montserrat', 0.0),
 ('Pitcairn Islands', 0.0),
 ('Saint Helena, Ascension, and Tristan da Cunha', 0.0),
 ('South Georgia and South Sandwich Islands', 0.0),
 ('Turks and Caicos Islands', 0.0),
 ('American Samoa', 0.0),
 ('Guam', 0.0),
 ('Navassa Island', 0.0),
 ('Northern Mariana Islands', 0.0),
 ('Wake Island', 0.0),
 ('Gaza Strip', 0.0),
 ('Paracel Islands', 0.0),
 ('Spratly Islands', 0.0),
 ('Western Sahara', 0.0),
 ('Ethiopia', None),
 ('New Zealand', None),
 ('South Sudan', None),
 ('Sudan', None),
 ('Holy See (Vatican City)', None),
 ('European Union', None),
 ('Greenland', None),
 ('French Southern and Antarctic Lands', None),
 ('Saint Barthelemy', None),
 ('Saint Martin', None),
 ('Akrotiri', None),
 ('Dhekelia', None),
 ('United States Pacific Island Wildlife Refuges', None),
 ('Antarctica', None),
 ('Arctic Ocean', None),
 ('Atlantic Ocean', None),
 ('Indian Ocean', None),
 ('Pacific Ocean', None),
 ('Southern Ocean', None),
 ('World', None)]

In [22]:
%%sql
SELECT name
FROM facts
WHERE area_water > area_land;

Done.

[('British Indian Ocean Territory',), ('Virgin Islands',)]

## Find The Population Increase

In [23]:
%%sql
SELECT name, birth_rate - death_rate AS pop_increase
FROM facts
ORDER BY pop_increase DESC;

Done.

[('Malawi', 33.150000000000006),
 ('Uganda', 33.1),
 ('Niger', 33.03),
 ('Burundi', 32.739999999999995),
 ('Mali', 32.1),
 ('Burkina Faso', 30.310000000000002),
 ('Zambia', 29.46),
 ('Ethiopia', 29.080000000000005),
 ('South Sudan', 28.729999999999997),
 ('Tanzania', 28.39),
 ('Gaza Strip', 28.07),
 ('Timor-Leste', 28.059999999999995),
 ('Benin', 27.810000000000002),
 ('Iraq', 27.68),
 ('Angola', 27.29),
 ('Sao Tome and Principe', 26.989999999999995),
 ('Togo', 26.870000000000005),
 ('Somalia', 26.830000000000005),
 ('Mozambique', 26.479999999999997),
 ('Guinea', 26.28),
 ('Sierra Leone', 26.22),
 ('Cameroon', 26.060000000000002),
 ('Senegal', 26.060000000000002),
 ('Congo, Republic of the', 25.85),
 ('Madagascar', 25.8),
 ('Equatorial Guinea', 25.120000000000005),
 ('Congo, Democratic Republic of the', 24.810000000000002),
 ('Rwanda', 24.79),
 ('Nigeria', 24.740000000000002),
 ('Liberia', 24.72),
 ('Afghanistan', 24.68),
 ('Ghana', 23.87),
 ('Gambia, The', 23.71),
 ('Yemen', 23.7),
 ('Mauritania', 23.14),
 ('Eritrea', 22.48),
 ('Chad', 22.32),
 ('Zimbabwe', 22.129999999999995),
 ('Solomon Islands', 21.919999999999998),
 ('Western Sahara', 21.9),
 ('Jordan', 21.580000000000002),
 ('Sudan', 21.53),
 ('Marshall Islands', 21.39),
 ('Gabon', 21.370000000000005),
 ('Central African Republic', 21.279999999999998),
 ('Oman', 21.080000000000002),
 ('Vanuatu', 20.95),
 ('Comoros', 20.27),
 ('Guatemala', 20.12),
 ('Kenya', 19.509999999999998),
 ('West Bank', 19.49),
 ('Algeria', 19.360000000000003),
 ("Cote d'Ivoire", 19.12),
 ('Nauru', 19.08),
 ('Guinea-Bissau', 19.050000000000004),
 ('Belize', 18.71),
 ('Tajikistan', 18.2),
 ('Syria', 18.17),
 ('Philippines', 18.16),
 ('Tonga', 18.15),
 ('American Samoa', 18.14),
 ('Egypt', 18.13),
 ('Honduras', 17.97),
 ('Papua New Guinea', 17.849999999999998),
 ('Kuwait', 17.73),
 ('Laos', 16.62),
 ('Kyrgyzstan', 16.33),
 ('Micronesia, Federated States of', 16.31),
 ('Bolivia', 16.240000000000002),
 ('Cambodia', 16.15),
 ('Pakistan', 16.089999999999996),
 ('Djibouti', 15.919999999999998),
 ('Samoa', 15.55),
 ('Bangladesh', 15.530000000000001),
 ('Saudi Arabia', 15.180000000000001),
 ('Tuvalu', 14.999999999999998),
 ('Malaysia', 14.68),
 ('Northern Mariana Islands', 14.61),
 ('Haiti', 14.479999999999999),
 ('Libya', 14.450000000000001),
 ('Kiribati', 14.34),
 ('Cabo Verde', 14.219999999999999),
 ('Dominican Republic', 14.18),
 ('Nepal', 14.080000000000002),
 ('Mongolia', 13.9),
 ('Venezuela', 13.850000000000001),
 ('Brunei', 13.8),
 ('Mexico', 13.520000000000001),
 ('Panama', 13.510000000000002),
 ('United Arab Emirates', 13.459999999999999),
 ('Ecuador', 13.450000000000003),
 ('Fiji', 13.39),
 ('Morocco', 13.39),
 ('Israel', 13.33),
 ('Turkmenistan', 13.27),
 ('Turks and Caicos Islands', 13.03),
 ('Nicaragua', 12.950000000000001),
 ('Peru', 12.270000000000001),
 ('India', 12.23),
 ('Iran', 12.049999999999997),
 ('Maldives', 11.86),
 ('Uzbekistan', 11.7),
 ('Guam', 11.7),
 ('Paraguay', 11.690000000000001),
 ('Jamaica', 11.46),
 ('Costa Rica', 11.36),
 ('Swaziland', 11.110000000000001),
 ('Bhutan', 11.09),
 ('Colombia', 11.069999999999999),
 ('Bahrain', 10.97),
 ('Kazakhstan', 10.939999999999998),
 ('South Africa', 10.84),
 ('World', 10.8),
 ('El Salvador', 10.77),
 ('Tunisia', 10.66),
 ('Lesotho', 10.579999999999998),
 ('Turkey', 10.45),
 ('Burma', 10.43),
 ('Indonesia', 10.349999999999998),
 ('Suriname', 10.21),
 ('French Polynesia', 10.200000000000001),
 ('Antigua and Barbuda', 10.16),
 ('Vietnam', 10.030000000000001),
 ('New Caledonia', 9.81),
 ('Sri Lanka', 9.739999999999998),
 ('Lebanon', 9.71),
 ('Azerbaijan', 9.57),
 ('Argentina', 9.31),
 ('Sint Maarten', 8.49),
 ('Bahamas, The', 8.45),
 ('Wallis and Futuna', 8.39),
 ('Ireland', 8.36),
 ('Qatar', 8.31),
 ('Guyana', 8.27),
 ('Anguilla', 8.1),
 ('Grenada', 7.950000000000001),
 ('Brazil', 7.880000000000001),
 ('Chile', 7.83),
 ('Iceland', 7.63),
 ('Botswana', 7.57),
 ('Dominica', 7.5),
 ('Seychelles', 7.3),
 ('Cayman Islands', 6.579999999999999),
 ('Saint Kitts and Nevis', 6.41),
 ('Saint Vincent and the Grenadines', 6.390000000000001),
 ('Mauritius', 6.379999999999999),
 ('Albania', 6.34),
 ('Cook Islands', 6.300000000000001),
 ('Saint Lucia', 6.279999999999999),
 ('Falkland Islands (Islas Malvinas)', 6.0),
 ('Greenland', 5.99),
 ('New Zealand', 5.97),
 ('British Virgin Islands', 5.92),
 ('Namibia', 5.890000000000001),
 ('Gibraltar', 5.710000000000001),
 ('Curacao', 5.600000000000001),
 ('Korea, North', 5.309999999999999),
 ('Faroe Islands', 5.059999999999999),
 ('Australia', 5.010000000000001),
 ('China', 4.96),
 ('Montserrat', 4.96),
 ('Trinidad and Tobago', 4.9),
 ('Singapore', 4.84),
 ('Cyprus', 4.79),
 ('Macau', 4.660000000000001),
 ('Aruba', 4.380000000000001),
 ('United States', 4.34),
 ('Armenia', 4.27),
 ('Jersey', 4.23),
 ('Luxembourg', 4.129999999999999),
 ('Norway', 4.020000000000001),
 ('Uruguay', 3.620000000000001),
 ('Barbados', 3.4299999999999997),
 ('Thailand', 3.3899999999999997),
 ('Liechtenstein', 3.329999999999999),
 ('France', 3.2200000000000006),
 ('Bermuda', 3.0999999999999996),
 ('Palau', 3.0600000000000005),
 ('United Kingdom', 2.8200000000000003),
 ('Sweden', 2.59),
 ('Macedonia', 2.4700000000000006),
 ('Saint Helena, Ascension, and Tristan da Cunha', 2.4400000000000004),
 ('Switzerland', 2.369999999999999),
 ('Puerto Rico', 2.1899999999999995),
 ('Cuba', 2.1800000000000006),
 ('Netherlands', 2.17),
 ('Hong Kong', 2.16),
 ('Georgia', 1.92),
 ('Canada', 1.8599999999999994),
 ('Belgium', 1.7799999999999994),
 ('Virgin Islands', 1.7700000000000014),
 ('Korea, South', 1.4399999999999995),
 ('Taiwan', 1.3600000000000003),
 ('Andorra', 1.1700000000000008),
 ('Malta', 1.0899999999999999),
 ('Guernsey', 1.0600000000000005),
 ('Isle of Man', 1.0399999999999991),
 ('Montenegro', 0.9900000000000002),
 ('Finland', 0.8900000000000006),
 ('Spain', 0.6000000000000014),
 ('San Marino', 0.1800000000000015),
 ('Slovakia', 0.16999999999999993),
 ('Denmark', 0.019999999999999574),
 ('European Union', 0.0),
 ('Austria', -0.009999999999999787),
 ('Poland', -0.4499999999999993),
 ('Moldova', -0.5899999999999999),
 ('Czech Republic', -0.7099999999999991),
 ('Bosnia and Herzegovina', -0.8800000000000008),
 ('Italy', -1.4499999999999993),
 ('Japan', -1.58),
 ('Portugal', -1.75),
 ('Estonia', -1.8900000000000006),
 ('Russia', -2.09),
 ('Saint Pierre and Miquelon', -2.3000000000000007),
 ('Greece', -2.4299999999999997),
 ('Monaco', -2.59),
 ('Belarus', -2.66),
 ('Croatia', -2.7300000000000004),
 ('Romania', -2.76),
 ('Germany', -2.9499999999999993),
 ('Slovenia', -2.9499999999999993),
 ('Hungary', -3.5700000000000003),
 ('Ukraine', -3.74),
 ('Lithuania', -4.17),
 ('Latvia', -4.3100000000000005),
 ('Serbia', -4.58),
 ('Bulgaria', -5.52),
 ('Kosovo', None),
 ('Holy See (Vatican City)', None),
 ('Ashmore and Cartier Islands', None),
 ('Christmas Island', None),
 ('Cocos (Keeling) Islands', None),
 ('Coral Sea Islands', None),
 ('Heard Island and McDonald Islands', None),
 ('Norfolk Island', None),
 ('Clipperton Island', None),
 ('French Southern and Antarctic Lands', None),
 ('Saint Barthelemy', None),
 ('Saint Martin', None),
 ('Niue', None),
 ('Tokelau', None),
 ('Bouvet Island', None),
 ('Jan Mayen', None),
 ('Svalbard', None),
 ('Akrotiri', None),
 ('British Indian Ocean Territory', None),
 ('Dhekelia', None),
 ('Pitcairn Islands', None),
 ('South Georgia and South Sandwich Islands', None),
 ('Navassa Island', None),
 ('Wake Island', None),
 ('United States Pacific Island Wildlife Refuges', None),
 ('Antarctica', None),
 ('Paracel Islands', None),
 ('Spratly Islands', None),
 ('Arctic Ocean', None),
 ('Atlantic Ocean', None),
 ('Indian Ocean', None),
 ('Pacific Ocean', None),
 ('Southern Ocean', None)]

## Find Countries Where The Death Rate Is Greater Than The Birth Rate

In [24]:
%%sql
SELECT name
FROM facts
WHERE death_rate > birth_rate;

Done.

[('Austria',),
 ('Belarus',),
 ('Bosnia and Herzegovina',),
 ('Bulgaria',),
 ('Croatia',),
 ('Czech Republic',),
 ('Estonia',),
 ('Germany',),
 ('Greece',),
 ('Hungary',),
 ('Italy',),
 ('Japan',),
 ('Latvia',),
 ('Lithuania',),
 ('Moldova',),
 ('Monaco',),
 ('Poland',),
 ('Portugal',),
 ('Romania',),
 ('Russia',),
 ('Serbia',),
 ('Slovenia',),
 ('Ukraine',),
 ('Saint Pierre and Miquelon',)]